body {
  background: black;
}

.clock {
  position: absolute;
  top: 10%;
  left: 77%;
  transform: translateX(-50%) translateY(-50%);
  color: #17fe4d;
  font-size: 9px;
  font-family: ORBITRON;
  letter-spacing: 7px;
}